{% extends 'admin/master.html' %}

{% block body %}
<div class="row mb-3">
  <h1 class="mt-3 display-4">Пользователи</h1>
    <table class="table table-hover">
        <thead>
            <th scope="col">NN</th>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Image</th>
            <th scope="col">Статус</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.image }}</td>
                    <td>{{ user.typeID.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1 class="mt-3 display-4">Заказы</h1>
    <table class="table table-hover">
        <thead>
            <th scope="col">NN</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Описание</th>
            <th scope="col">Заказчик</th>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ order.title }}</td>
                    <td>{{ order.describe }}</td>
                    <td>{{ order.userID.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('index') }}">Сайт</a>
 </div>
{% endblock %}
